<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mercado Liebre</title>
      <link href="/css/styles.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </head>


    <body>   
         <header>
            <div class="top-header">
                <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="350px">

                <div class="buscador">
                        <div class="input">Busca productos, marcas</div>
                        <div class="lupa"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i> en cuotas y sin tarjeta de credito</p>
            </div>
            <nav>
               <ul>
                    <li>
                        <a href="#">Ofertas</a>  
                    </li>       
                    <li>
                        <a href="#">Tiendas Oficiales</a> 
                    </li>       
                    <li>
                        <a href="#">Vender</a> 
                    </li>       
                    <li>
                        <a href="#">Ayuda</a> 
                    </li>       
                </ul>
                <ul>
                    <li>
                        <a href="register">Crea tu cuenta</a><i class="far fa-id-card"></i> 
                    </li>
                    <li>
                        <a href="login">Ingresa</a><i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>


        </header>
    
        <main>

        </main>
        <footer>
            
        </footer>    
    </body>
</html>